body {background-color:brown;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color:yellow}
h1{color:orange;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
.maindiv {
    background-color:red;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center
}
